//npm add -D sass
@tailwind base;
@tailwind utilities;
@tailwind variants;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  // color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

/* * {
  box-sizing: border-box;
} */

.revert-browser-stylesheets,
.revert-browser-stylesheets p,
.revert-browser-stylesheets h1,
.revert-browser-stylesheets h2,
.revert-browser-stylesheets h3,
.revert-browser-stylesheets h4,
.revert-browser-stylesheets h5,
.revert-browser-stylesheets h6,
.revert-browser-stylesheets pre {
  line-height: revert;
  font-size: revert;
  font-weight: revert;
  list-style: revert;
  margin: revert;
  padding: revert;
  color: inherit;
  text-decoration: inherit;
  word-break: break-all;
  text-align: revert;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
